<p>Módulo de busca de informações no portal da transparência. Em implantação</p>

<div class="container">
    <div class="row">
      <div class="col-6 col-6">Data</div>
      <div class="col-6 col-6">{{ pagamentoObj.data }}</div>
  
      <div class="col-6 col-sm-6">Nº documento</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.documento }}</div>
  
      <div class="col-6 col-sm-6">Observação</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.observacao }}</div>
  
      <div class="col-6 col-sm-6">Documento Resumido</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.documentoResumido }}</div>
  
      <div class="col-6 col-sm-6">Elemento</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.elemento }}</div>
  
      <div class="col-6 col-sm-6">Nome do Favorecido</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.nomeFavorecido }}</div>
      
      <div class="col-6 col-sm-6">Codigo do Favorecido</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.codigoFavorecido }}</div>
  
      <div class="col-6 col-sm-6">Fase</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.fase }}</div>
  
      <div class="col-6 col-sm-6">Valor</div>
      <div class="col-6 col-sm-6">R$ {{ pagamentoObj.valor }}</div>
  
      <div class="col-6 col-sm-6">Unidade Gestora</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.ug }}</div>
  
      <div class="col-6 col-sm-6">Número Processo</div>
      <div class="col-6 col-sm-6">{{ pagamentoObj.numeroProcesso }}</div>
  
      
    </div>
  </div>
  
  
  
    <!-- <div class="col-sm-10">
      <input type="text" class="form-control" name="razao_social" [(ngModel)]="pagamento$.valor">
    </div> -->
  