<section class="row">
    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Cidades do Brasil</h5>
          <p class="card-text">
            Busque todas as cidades por estado brasileiro
          </p>
          <a href="/cidades" class="btn btn-primary">Acesse</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Empresas por cnpj</h5>
          <p class="card-text">
            Confira se o CNPJ informado está correto com os demais dados da empresa
          </p>
          <a href="/empresas-por-cnpj" class="btn btn-primary">Acesse</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Fornecedores de Pregões Eletrônicos</h5>
          <p class="card-text">
            Encontre informações sobre os fornecedores vencedores de pregões eletrônicos da UFSC
          </p>
          <a href="/fornecedores" class="btn btn-primary">Acesse</a>
        </div>
      </div>
    </div> -->


    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Calendário</h5>
          <p class="card-text">
            Também ajudamos você a organizar a sua rotina com nosso maravilhoso calendário
          </p>
          <a href="/calendario" class="btn btn-primary">Acesse</a>
        </div>
      </div>
    </div>


    <div class="col-lg-6">
      <div class="card" >
        <div class="card-body">
          <h5 class="card-title">Rick e Morty</h5>
          <p class="card-text">
            Entretenha-se com nossa divrtida API de informações da série animada
          </p>
          <a href="/rick" class="btn btn-primary">Acesse</a>
        </div>
      </div>
    </div>


  </section>

